.text-center {
  text-align: center;
}

.mtop1 {
  margin-top: 1em;
}
.mtop2 {
  margin-top: 2em;
}
.mtop3 {
  margin-top: 3em;
}
.mbottom1 {
  margin-bottom: 1em;
}
.mbottom2 {
  margin-bottom: 2em;
}
.mbottom3 {
  margin-bottom: 3em;
}