
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';


/*

Suggestions:
#4484CE
#d9d9d9
#F9CF00
#F19F4D

*/


$colors: (
  primary:    #42C1F0,
  bg-primary: #2274A5,
  secondary:  #FABE28,
  danger:     #A5201D,
  positive:   #88C100,
  light:      #EDECE6,
  dark:       #092327,
  calm:       #20A39E
);//20A39E
