<div class="rulebook">
  <h1>{{rulebook.name}}</h1> (by {{rulebook.author}})
  <button *ngIf="!rulebook.readonly" (click)="editModel = true">Edit</button>

  {{rulebook.description}}

  <label class="rulebook-label">1: </label>
  <input name="rule1" class="rulebook-value" [(ngModel)]="rulebook.rule1" [disabled]="!editModel"/>

  <label class="rulebook-label">2: </label>
  <input name="rule2" class="rulebook-value" [(ngModel)]="rulebook.rule2" [disabled]="!editModel"/>

  <label class="rulebook-label">3: </label>
  <input name="rule3" class="rulebook-value" [(ngModel)]="rulebook.rule3" [disabled]="!editModel"/>

  <label class="rulebook-label">4: </label>
  <input name="rule4" class="rulebook-value" [(ngModel)]="rulebook.rule4" [disabled]="!editModel"/>

  <label class="rulebook-label">5: </label>
  <input name="rule5" class="rulebook-value" [(ngModel)]="rulebook.rule5" [disabled]="!editModel"/>

  <label class="rulebook-label">6: </label>
  <input name="rule6" class="rulebook-value" [(ngModel)]="rulebook.rule6" [disabled]="!editModel"/>

  <label class="rulebook-label">7: </label>
  <input name="rule7" class="rulebook-value" [(ngModel)]="rulebook.rule7" [disabled]="!editModel"/>

  <label class="rulebook-label">8: </label>
  <input name="rule8" class="rulebook-value" [(ngModel)]="rulebook.rule8" [disabled]="!editModel"/>

  <label class="rulebook-label">9: </label>
  <input name="rule9" class="rulebook-value" [(ngModel)]="rulebook.rule9" [disabled]="!editModel"/>

  <label class="rulebook-label">10: </label>
  <input name="rule10" class="rulebook-value" [(ngModel)]="rulebook.rule10" [disabled]="!editModel"/>

  <label class="rulebook-label">J: </label>
  <input name="rule11" class="rulebook-value" [(ngModel)]="rulebook.rule11" [disabled]="!editModel"/>

  <label class="rulebook-label">Q: </label>
  <input name="rule12" class="rulebook-value" [(ngModel)]="rulebook.rule12" [disabled]="!editModel"/>

  <label class="rulebook-label">K: </label>
  <input name="rule13" class="rulebook-value" [(ngModel)]="rulebook.rule13" [disabled]="!editModel"/>
</div>