@import "~styles/variables";

.menu-cards {
  > div {
    color: map-get($colors, 'light');
    background: rgba(0,0,0,0.5);
    border: 2px solid rgba(0,0,0,0.52);
  }

  .menu-title {
    font-size: 2.2rem;
    color: rgba(255,255,255,0.7);
  }
}