  <section *ngIf="!isAuthenticated" id="banner">
    <div class="content">
      <h1>Welkom stranger!</h1>
      <ul class="actions">
        <li><button (click)="login();" class="button">log in</button></li>
      </ul>
    </div>
  </section>

  <section *ngIf="isAuthenticated" id="links">
    <div class="text-center mbottom1">
      <h1>Welkom {{name}}!</h1>
    </div>
    <div class="inner flex flex-3">
      <div class="flex-item left">
        <div>
          <h3>Members</h3>
          <p>Alle nuttige info over de leden zal je hier vinden!</p>
          <a href="" routerLink="/tools/members" class="button scrolly">OPEN</a>
        </div>
        <div>
          <h3>Games</h3>
          <p>PARTEEEEEY</p>
          <a routerLink="games" class="button scrolly">OPEN</a>
        </div>
      </div>
      <div class="flex-item image fit round">
        <img src="assets/images/pic01.jpg" alt="" />
      </div>
      <div class="flex-item right">
        <div>
          <h3>Calendar</h3>
          <p>Iets voor Neil?</p>
          <a href="#one" routerLink="calendar" class="button scrolly">OPEN</a>
        </div>
        <div>
          <h3>Tools</h3>
          <p>To be defined..</p>
          <a href="#one" routerLink="tools" class="button scrolly">OPEN</a>
        </div>
      </div>
    </div>
  </section>