#links {
 .inner {
   .flex-item.left {
     div {
       margin-left: auto;
     }
   }
 } 
}


.menu-cards {
  > div {
    color: rgba(255,255,255,0.6);
    background: rgba(0,0,0,0.5);
    border:  2px solid  rgba(0,0,0,0.52);
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .menu-title {
    font-size: 2.2rem;
    color: rgba(255,255,255,0.7);
  }
}